.left-panel .profile {
    padding: 24px;

    @media (max-width: 1199px) {
        padding: 12px;
        justify-content: center;
    }
}

.left-panel .ant-menu-item {
    width: 100%;
}

.ant-tag-checkable-checked {
    background-color: #1890ff !important;
}

.tag-bottom-0 {
    .ant-tag {
        margin-bottom: 0 !important;
    }
}


.text-right {
    text-align: right;
}

.ant-tag-checkable-checked {
    background-color: #1890ff !important;
    &.ant-tag {
        &:hover {
            cursor: unset;
            opacity: 1;
        }
    }
}

#filter-form {
    .ant-form-item {
        margin-bottom: 10px;
    }
}

.tag-bottom-0 {
    .ant-tag {
        margin-bottom: 0 !important;
    }
}