.left-panel .profile {
    padding: 24px;

    @media (max-width: 1199px) {
        padding: 12px;
        justify-content: center;
    }
}

.left-panel .ant-menu-item {
    width: 100%;
}

.ant-tag-checkable-checked {
    background-color: #1890ff !important;
}

.tag-bottom-0 {
    .ant-tag {
        margin-bottom: 0 !important;
    }
}